// IMPORTS
@import "../../variables.scss";

@font-face {
  font-family: "AvenirBold";
  src: url("../../fonts/avirnirReplica/Metropolis-Bold.otf") format("otf");

  /* Add more font formats if necessary */
}

@font-face {
  font-family: "AvenirRegular";

  src: url("../../fonts/avirnirReplica/Metropolis-Regular.otf") format("otf");
  /* Add more font formats if necessary */
}
@font-face {
  font-family: "AvernirMedium";

  src: url("../../fonts/avirnirReplica/Metropolis-Medium.otf") format("otf");
  /* Add more font formats if necessary */
}



// BREAK POINTS
@mixin respond($breakpoint) {
  @if ($breakpoint == "sm") {
    @media (max-width: 640px) {
      @content;
    }
  }
  @if ($breakpoint == "md") {
    @media (max-width: 768px) {
      @content;
    }
  }
  @if ($breakpoint == "lg") {
    @media (max-width: 1024px) {
      @content;
    }
  }
  @if ($breakpoint == "xl") {
    @media (max-width: 1280px) {
      @content;
    }
  }
  @if ($breakpoint == "2xl") {
    @media (max-width: 1536px) {
      @content;
    }
  }
}

// CONTAINER STYLE
.container {
  position: relative;
  height: 100vh;

  padding: 0 50px 0 50px;
  @include respond("lg") {
    padding: 0 30px 0 30px;
  }
  @include respond("sm") {
    padding: 0 20px 0 20px;
  }
}
// CONTAINER STYLE ENDS HERE

// LOGO STYLE STARTS HERE

.logoDiv {
  display: flex;
  height: 130px;

  align-items: center;
  .logo {
    width: $logo-width;
    height: $logo-height;
  }
}

// LOGO STYLE ENDS HERE

.mainDiv {
  display: grid;
  height: 500px;
  grid-template-columns: auto auto;
  grid-column-gap: 150px;
  @include respond("lg") {
    height: 300px;
    margin-top: 100px;
    grid-column-gap: 100px;
  }
  @include respond("sm") {
    grid-template-columns: auto;
    height: 300px;
    grid-column-gap: unset;
  }
}

// LOGIN IMAGE STYLE STARTS HERE
.bigImage {
  background-image: url(../../images/signin.png);
  margin-top: 50px;
  min-width: 300px;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;

  @include respond("lg") {
    margin-top: 50px;
  }
  @include respond("sm") {
    display: none;
  }
}
// LOGIN IMAGE STYLE ENDS HERE

//  FORM STYLE STARTS HERE
.formDiv {
  display: flex;
  justify-content: end;


  @include respond("sm") {
    justify-content: start;
  }
  .formSubContainer {
    .emailError {
      overflow: hidden;
      position: relative;
      height: 30px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 70%;
     
      margin-bottom: 20px;

      background-color: #f0b1bb;
      color: #eb405d;
      font-family: "AvenirRegular", sans-serif;
      font-size: 15px;

      border-radius: 5px;
      border: 1px solid #ff7fa9;

      @include respond("lg") {
        font-size: 14px;
        width: 100%;
      }
      @include respond("sm") {
        font-size: 14px;
        
        width: 100%;
      }
      p{
        padding-left: 10px;
      }
    }
    .emailGood{
      overflow: hidden;
      position: relative;
      height: 30px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 70%;
     
      margin-bottom: 20px;

      background-color: #FBFBFB;
      color: #FBFBFB;
      font-family: "AvenirRegular", sans-serif;
      font-size: 15px;

      border-radius: 5px;
      border: 1px solid #FBFBFB;

      @include respond("lg") {
        font-size: 14px;
        width: 100%;
      }
      @include respond("sm") {
        font-size: 14px;
        
        width: 100%;
      }
      p{
        padding-left: 10px;
      }
    }

    .focus {
      border: 1px solid #39cdcc;

      border-radius: 6px;
      box-shadow: 0 0 4px #39cdcc;
    }
    .blur {
      border: 2px solid rgba(84, 95, 125, 0.15);
    }

    width: 100%;
 
    // @include respond("lg") {
    //   width: 100%;
    // }
    @include respond("sm") {
      width: 100%;
    }
    .welcome {
      color: $primary-color;
      font-family: "AvenirBold", sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @include respond("lg") {
        font-size: 30px;
      }
      @include respond("sm") {
        font-size: 20px;
      }
    }

    .details {
      color: #545f7d;
      font-family: "AvenirRegular", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      

      @include respond("lg") {
        font-size: 16px;
      }
      @include respond("sm") {
        font-size: 16px;
     
      }
    }

    .loginInput1 {
      overflow: hidden;
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 70%;
      border-radius: 5px;

      background: #fff;
      margin-bottom: 20px;

      @include respond("lg") {
        height: 45px;
        width: 100%;
      }
      @include respond("sm") {
        width: 100%;
        height: 40px;
      }
      .show {
        position: absolute;
        right: 10px;
        color: #39cdcc;
        text-align: center;
        font-family: "AvenirRegular", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        cursor: pointer;
        @include respond("lg") {
          font-size: 11px;
        }
        @include respond("sm") {
          font-size: 11px;
        }
      }
    }
    .loginInput2 {
      width: 90%;
      height: inherit;
      border: none;
      outline: none;
      padding-left: 10px;
      padding-right: 70px;
      color: #545f7d;
      font-family: "AvenirRegular", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .loginInput2:focus {
      outline: none;
    }

    .forgot {
      color: #39cdcc;
      font-family: "AvenirRegular", sans-serif;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      cursor: pointer;

      @include respond("lg") {
        font-size: 11px;
      }
      @include respond("sm") {
        font-size: 11px;
      }
    }
    .forgot a {
      text-decoration: none;
      color: #39cdcc;
    }

    .loginButton {
      // CONTAINER STYLE
      background-color: #39cdcc;
      position: relative;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 70%;
      border-radius: 5px;
      border: 2px solid #39cdcc;
      margin-top: 20px;
      // TEXT STYLE
      color: #fff;
      font-family: "AvernirMedium", sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      cursor: pointer;

      @include respond("lg") {
        height: 45px;
        width: 100%;
        font-size: 12px;
      }
      @include respond("sm") {
        width: 100%;
        height: 40px;
        font-size: 12px;
      }
    }
  }
}

.chat {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
}

//  FORM STYLE ENDS HERE
