@font-face {
  font-family: "workSansRegular";

  src: url("./fonts/workSans/WorkSans-Regular.otf") format("otf");
  /* Add more font formats if necessary */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'workSansRegular', sans-serif;
  background-color: #FBFBFB;

}