@mixin respond($breakpoint) {
    @if ($breakpoint == medium) {
      @media (max-width: 900px) {
        @content;
      }
    }
    @if ($breakpoint == small) {
      @media (max-width: 600px) {
        @content;
      }
    }
  }


.container2{
    display: flex;
    justify-content: center;
    // background-color: burlywood;

    .child{
        padding: 50px;
      
        width: 78%;


        
  @include respond(medium) {
    padding: 30px;
    width: 90%;
  }
  @include respond(small) {
    padding: 20px;
  }
        // background-color: aquamarine;
    }
}