


.container2{
    display: flex;
    justify-content: center;
    // background-color: burlywood;

    .child{
        padding: 50px;
      
        width: 78%;
        // background-color: aquamarine;
    }
}